:root {
    --pale: rgb(74, 142, 210);
    --yellow: #ed4f44;
    --pink: rgb(245, 83, 110);

    --purple: rgb(211, 185, 255);
    --purple-bold: rgb(138, 92, 216);
}

* {
    font-size: 16px;
}
.cartegory {
    padding: 200px 0 50px;
    
} 

.cartegory-left {
    width: 23%;
    background-color: #FBFBFB;
    margin-right: 2%;
}
.cartegory-left-top {
    font-size: 22px;
    font-weight: 500;
}
.cartegory-left ul li {
    padding: 4px 0;
    list-style: none;
}
.cartegory-left ul li :hover {
    color: var(--purple-bold);
}
.cartegory-left ul li a {
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.cartegory-right {
    width: 75%;
    background-color: #fff;
}

.cartegory-right-top {
    margin: 0 0 1em;
    color: #444;
}
.cartegory-right-top a {
    text-decoration: none;
    color: #444;
}
.cartegory-right-top a:hover {
    color: var(--purple-bold);
}


.woocommerce-result-count {
    float: left;
    color: #444;
    
    padding: 10px 15px;
}
.woocommerce-ordering {
    float: right;
    
}
.orderby {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
    cursor: pointer;
}


.collection-list {
    width: 100%;
}
